*{
    box-sizing: border-box;
}
.clear-fix{
    clear: both;
}
.container{
    width: 90%;
    margin: auto;
}
body{
    margin: 0;
    padding: 0;
}

#home  .item{
    
    width: 50%;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 30px;
    float: left;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight:400;
     
    
}
.home-color{
    color: #4a5565;

}
#home .item img{

    width: 90%;
    padding: 50px;
  
    border-radius:  80px ;
    
}
.homeFont{
     font-size: 60px;
    font-weight:500;
}
.buttonBlack{
  background-color: black;
    color: white;
    padding: 20px 20px ;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}
.buttonWhite{
    background-color: white;
    color: #4a5565;
    padding: 20px 20px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 20px;
}


.fit-font{
    font-size: 18px;
    font-weight: 500;
    color: #364153;
    
}

.fitcore-font{
    font-size:20px ;
    font-weight: 700;
    
}

#FitCore{
    text-align: center;
   
   
    margin: auto;

}
#FitCore .container .item{
    
    padding-right:20px ;
}
#FitCore .container .item div h2{
    font-size: 40px;
    font-weight:800 ;
}
.increase{
    font-size: 17.6px;
}
.pTitle{
   font-size: 21px;
    font-weight:500 ;
     color: #4a5565;
      padding-bottom:30px ;
      

}

#FitCore .container .item .box{
   
    
    border-radius: 40px;
  
    width: 30%;
    float: left;
    padding: 22px;
    margin: 1.6%;
    border-radius: 15px;
    
}
.bgcolor1{
   background-color: #DBEAFE;
}
.bgcolor2{
   background-color: #D0FAE5;
}
.bgcolor3{
   background-color: #F3E8FF;
}
 #FitCore .container .item .box .shape-zero{
    width: 90px;
    height: 90px;
    border: 20px solid blue ;
    border-radius: 17px;
   margin: auto;
    padding-bottom: 45px;
 
        
   padding-right: 45px;
}

.innerShape-zero{
    box-sizing: border-box;
    width:30px;
    height: 30px;
    border: 12px solid white;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 38px;
    padding-right: 26px;
    padding-top: 26px;
    margin-right: 28px;
    
}

#FitCore .container .item .box .shape-one{
    width: 90px;
    height: 90px;
    border: 40px solid #009966  ;
    border-radius: 6px;
    margin: auto;
  
    background-color: #D0FAE5;      
    
} 


.innerShape-one {
    box-sizing: border-box;
    width:30px;
    height: 30px;
    border: 20px solid white;
    background-color: white;
    border-radius: 50%;
    margin: -14px auto 20px;
    margin-left: -15px
   
    
   
   
}


#FitCore .container .item .box .shape-two{
  /* width: 90px;
    height: 90px;
    border: 15px solid #9810FA ;
    border-radius: 17px;
   margin: auto;
    padding-bottom: 45px;
 
        
   padding-right: 45px; */
    
    width: 90px;
    height: 90px;
    border: 19px solid #9810FA;
    border-radius: 17px;
   margin: auto;
    padding-bottom: 45px;
 
        
   padding-right: 45px;
}  


.innerShape-two {
    box-sizing: border-box;
    width:30px;
    height: 30px;
    border: 12px solid white;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 38px;
    padding-right: 26px;
    padding-top: 26px;
    margin-right: 28px;
    
     
}
.extend{
    padding-bottom: 20px;
}

#DetailsGym .container .info{
    width: 50%;
    padding: 12px;
    float: left;
    margin: auto;
   
    padding: 20px;
}
#DetailsGym .container .info img{
    width: 100%;
    border-radius: 9px;
   
    padding-bottom: 1px;
    
    margin-top: 60px;
}

 #DetailsGym .container .info .borderDetails{  
    border-left: 4px solid black;
    padding-left: 15px;
   
  
    
}
#DetailsGym .container .info h2 {
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 1px;
    color: #101828;

}
#DetailsGym .container .info h3{
    font-size: 22px;
    font-weight: 600;
}
#DetailsGym .container .info p{
    font-size: 20px;
    font-weight: 400;
    ;
   
    
}



#Members .container .titleMember{
    margin: auto;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Members .container  .member .member-header .member-info .decrease{
    margin: -10px;
}

#Members .container  .member{

    width: 30%;
    margin: auto;
    float: left;
    margin: 1.6%;
   background-color: #EFF6FF;
   padding: 20px;
   border-radius: 14px;
}

#Members .container   .memberColor{
    background-color: #FAF5FF;
}
#Members .container  img{
    width: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 14px;

    
    
    
}

#Members .container  .member .member-text{
    width: 300px;
    font-size: 19px;
    font-weight: 500;
  
    text-align: center; 
    

}

#score .container .items .item{
    width:25%;
    margin: auto;
    float:left;
    background-color: #DBEAFE;
    text-align: center;
    padding: 26px;
    border-radius: 5px;
    border: none;
    

}


#score .container .items .item .A,
#score .container .items .item .B,
#score .container .items .item .C,
#score .container .items .item .D {
    font-size: 40px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: -19px;
}
#fitnessJourney .container .titleJourney{
    width: 100%;
    text-align: center;
    padding: 50px;
}
    
    
    



#fitnessJourney .container .titleJourney .sizeTitle{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-top: 50px;
}
#fitnessJourney .container .titleJourney .sizeTextsec{
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #4a5565;
    width: 90%;
    padding-left: 80px;
    margin: auto;

}

#fitnessJourney .container .fillapp{
    width: 70%;
    margin: auto;
    background-color:#EFF6FF;
      overflow: hidden;
    padding: 40px;
    border-radius: 50px;
    height: auto;   
   
}
#fitnessJourney .container .fillapp .fname ,
#fitnessJourney .container .fillapp .lname{
    width:50%;
    height:50px ;
    float: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    padding-bottom: 60px;
    
    padding-top: 50px;
    font-size: 18px
}
#fitnessJourney .container .fillapp .horizontal label{
  
     
     margin: 5px;
     display: block;
}
input::placeholder{
    font-size: 20px;
}
#fitnessJourney .container .fillapp .horizontal input{
    width: 98.7%;
    height: auto;
    border-radius: 10px;
    border: none;
    padding:19px;
    border: 1px solid #d1d5db;
    
}


#fitnessJourney .container .fillapp .oneItem{
   width:100%;
    height:20px ;
    float: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    padding-bottom: 70px;
   
    padding-top: 50px;
    font-size: 18px}

#fitnessJourney .container .fillapp .oneItem label{
  
    display: block;
    margin-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    font-weight: 400;
    margin: auto;

}
#fitnessJourney .container .fillapp .oneItem input{
    
    width:100%;
    display: block;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
}


#fitnessJourney .container .fillapp  .membership select{
    
   
     width: 98.7%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    padding:19px;
    border: 0px solid #d1d5db;
    font-size: 20px;
    font-weight: 600;
    color:#d1d5db ;
    

}
#fitnessJourney .container .fillapp  .goals textarea{

     width: 98.7%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    padding:35px ;
    border: 0px solid #d1d5db;
    margin-bottom: 90px;
    display: block;
    
}
#fitnessJourney .container .fillapp .buttonRedirection button{
     width: 98.7%;
    height: auto;
    border-radius: 10px;
    margin-top: 90px;
    padding: 20px;
    border-radius: 14px;
    color: white;
    font-size: 30px;
    font-weight: 400;
    border: none;
    background-color: #101828;
    
}

#fitnessJourney .container .fillapp .buttonRedirection button a{
    color: white;
}
 #fitnessJourney .container .fillapp .buttonRedirection .text-center{
    text-align: center;
}
#endSec .outer{
   background-color:black;
    color: white;
    width: 100%;
     overflow: hidden;
     padding-top: 20px;

}
#endSec .outer .innerItems .FitCoreEnd{

    
    color: white;
    padding:  60px;
    width: 32%;
    float:left;
    box-sizing: border-box;

}
#endSec .outer .innerItems .FitCoreEnd a{
    color: #143065;
     padding-right: 20px;
}

#endSec .outer .innerItems  .linksSec a{
    
    display: block;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 3px;
   

}
#endSec .outer .innerItems .FitCoreEnd h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    font-weight: 680;
}
#endSec .outer .innerItems .FitCoreEnd h4{
    font-size: 21px;
    font-weight: 500;
    margin-top: -9px;
    
}
#endSec .outer .innerItems .FitCoreEnd .paragraph {
     margin-top: -26px;
}
#endSec .outer .innerItems .FitCoreEnd p{
    width: 100%;
    padding-right: 90px;
    font-size: 21px;
    font-weight: 500;
    color: #143065;
}
.span{
    float: right;
   
  
}